<!-- <h1>Global Settings</h1> -->
<!-- <p>Once upon a midnight dreary, while I pondered, weak and weary. Over many a
    quaint and curious volume of forgotten lore. While I nodded, nearly napping,
    suddenly there came a tapping. As of some one gently rapping, rapping at my
    chamber door. 'Tis some visiter, I muttered, tapping at my chamber door. Only
    this, and nothing more. Ah, distinctly I remember it was in the bleak December.
    And each separate dying ember wrought its ghost upon the floor. Eagerly I wished
    the morrow;—vainly I had sought to borrow. From my books surcease of
    sorrow—sorrow for the lost Lenore. For the rare and radiant maiden whom the
    angels name Lenore. Nameless here for evermore. And the silken sad uncertain
    rustling of each purple curtain Thrilled me, filled me with fantastic terrors</p> -->
    <label class="config-heading">Global Settings</label>
    <table>
        <thead>
        <tbody>
          <tr>
            <td class="config-sub-heading">Feed Interval</td>
            <td class="config-sub-heading-value">{{ covertFeedInterval(config?.feed_interval) }}</td>
          </tr>
          <tr>
            <td class="config-sub-heading">Node Batch Size</td>
            <td class="config-sub-heading-value">{{ config?.node_batch_size }}</td>
          </tr>
          <tr>
            <td class="config-sub-heading">Update Nodes Only</td>
            <td class="config-sub-heading-value">{{ config?.updated_nodes_only }}</td>
          </tr>
          <tr>
            <td class="config-sub-heading">Disable CIDR Filter</td>
            <td class="config-sub-heading-value">{{ config?.disable_cidr_filter }}</td>
          </tr>
          <tr>
            <td class="config-sub-heading">CIDR Filters</td>
            <td class="config-sub-heading-value cidr-filters">

                <div class="compress-data">
                    <div *ngFor="let cidr_filter of getData(config?.cidr_filter,getFirstFiveDataCidrFilters)">
                        <div>{{ cidr_filter }}</div>
                    </div>
                </div>
                <a (click)="getAlldata('DataCidrFilters')" *ngIf="getFirstFiveDataCidrFilters">more filters</a>
            </td>
          </tr>
          <tr>
            <td class="config-sub-heading">Accepted Status Codes</td>
            <td class="config-sub-heading-value status-code">
                <div class="compress-data">
                    <div *ngFor="let status_codes of getData(config?.accepted_status_codes,getFirstFiveDataStatusCodes)">
                        <div>{{status_codes}}</div>
                    </div>
                </div>
                <a (click)="getAlldata('StatusCodes')" *ngIf="getFirstFiveDataStatusCodes">more filters</a>
            </td>
          </tr>
        </tbody>
      </table>
<!-- <div *ngFor= "let config of config$ | async"> -->
<!-- </div> -->